{% extends "base.html" %}

{% block content %}
    <h2>Links for Chapter 4</h2>
    <ul>
        <li><a href="/en/admin/">Administration (username and password: admin)</a></li>
        <li><a href="/en/js-settings/">JS settings</a></li>
        <li><a href="/en/locations/hkw/">Location "Haus der Kulturen der Welt"</a></li>
        <li><a href="/en/locations/">Location list</a></li>
        <li><a href="/en/movies/">Movies list</a></li>
        <li><a href="/en/quotes/add/">Adding an inspirational quote</a></li>
    </ul>

{% endblock %}