#footer {
    height: 200px;
}

.level-1 {
    margin-left: 20px;
}

figure {
    border: 1px solid #666;
    padding: 10px;
    display: inline-block;
    box-shadow: 0px 2px 5px grey;
}
figure img {
    width: 250px;
}
figcaption {
    margin-top: 5px;
    font-size: 1rem;
}